@charset "UTF-8";

h1{
	color: firebrick;
	font-style: italic;
	font-style: bold;
	font-size: 60px;
}

h3{
	
	color: gray;
	font-style: italic;
	font-style: bold;
}

h4{
	
	color: #C0C0C0;
	font-style: bold;
	
	
}

h5{
	
	color: #C0C0C0;
	font-style: bold;

}

body {
	background-color: ghostwhite;
	
	background-size: 1600px;
	
	
}

#indexheader{
	
	margin-top: 25px;
	
	
}
#indexpage{
	
	margin-top: 205px;
}


#img {
	
	height: 300px;
	align: center;

}

#iframe{
	
	border: 1px solid black;
	align: center;
	width: 100%;
	
}


