@charset "UTF-8";

h1{
	color: firebrick;
	font-style: italic;
	font-style: bold;
	font-size: 60px;
}

h3{
	
	color: gray;
	font-style: italic;
	font-style: bold;
}

h4{
	
	color: #C0C0C0;
	font-style: bold;
	
	
}

h5{
	
	color: #C0C0C0;
	font-style: bold;

}

body {
	background-color: ghostwhite;
	
	background-size: 1600px;
	
	
}

#indexpage{
	
	margin-top: 275px
	
	
}


#img {
	
	height: 300px;
	align: center;

}
::placeholder {
  color: black;
 
}
}

